<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinking.update.main.dao.SysLogDao">
    <!-- SysLog的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_SysLog_Map" type="com.thinking.update.main.domain.entity.SysLog">
        <id column="id" property="id" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="method" property="method" />
        <result column="user_id" property="userId" />
        <result column="ip" property="ip" />
        <result column="time" property="time" />
        <result column="params" property="params" />
        <result column="operation" property="operation" />
        <result column="username" property="username" />
    </resultMap>

    <!-- 数据库中表名为:sys_log的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="sys_log_Column">
        sys_log.id as id
        ,sys_log.gmt_create as gmt_create
        ,sys_log.method as method
        ,sys_log.user_id as user_id
        ,sys_log.ip as ip
        ,sys_log.time as time
        ,sys_log.params as params
        ,sys_log.operation as operation
        ,sys_log.username as username
    </sql>

    <!--获得类名为:SysLog对应的数据库表的数据总行数 -->
    <select id="getSysLogRowCount" resultType="java.lang.Long">
        select count(id) from sys_log
    </select>
    <!-- 获得类名为:SysLog对应数据库中表的数据集合 -->
    <select id="selectSysLog" resultMap="result_SysLog_Map">
        select 
        <include refid="sys_log_Column" /> 
        from sys_log order by gmt_create desc
    </select> 

    <!-- 获得一个SysLog对象,以参数SysLog对象中不为空的属性作为条件进行查询-->
    <select id="selectSysLogByObj" parameterType="com.thinking.update.main.domain.entity.SysLog" resultMap="result_SysLog_Map">
        select 
            <include refid="sys_log_Column" /> 
        from sys_log
        <where>
            <if test="username != null "> and sys_log.username = #{username}</if>
            <if test="operation != null "> and sys_log.operation = #{operation}</if>
            <if test="params != null "> and sys_log.params = #{params}</if>
            <if test="time != null "> and sys_log.time = #{time}</if>
            <if test="ip != null "> and sys_log.ip = #{ip}</if>
            <if test="userId != null "> and sys_log.user_id = #{userId}</if>
            <if test="method != null "> and sys_log.method = #{method}</if>
            <if test="gmtCreate != null "> and sys_log.gmt_create = #{gmtCreate}</if>
            <if test="id != null "> and sys_log.id = #{id}</if>
        </where>
    </select> 

    <!-- 通过SysLog的id获得对应数据库中表的数据对象-->
    <select id="selectSysLogById" parameterType="java.lang.Long" resultMap="result_SysLog_Map">
        select 
            <include refid="sys_log_Column" /> 
        from sys_log
        where sys_log.id = #{id}
    </select> 

    <!-- 将SysLog插入到对应数据库的表中,包括属性值为null的数据-->

    <insert id="insertSysLog" parameterType="com.thinking.update.main.domain.entity.SysLog">
        insert into sys_log(id,gmt_create,method,user_id,ip,time,params,operation,username) 
        values(#{id},#{gmtCreate},#{method},#{userId},#{ip},#{time},#{params},#{operation},#{username})
    </insert>

    <!-- 将SysLog中属性值不为null的数据,插入到对应数据库的表中-->
    <insert id="insertNonEmptySysLog" parameterType="com.thinking.update.main.domain.entity.SysLog">
        insert into sys_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="method != null">method,</if>
            <if test="userId != null">user_id,</if>
            <if test="ip != null">ip,</if>
            <if test="time != null">time,</if>
            <if test="params != null">params,</if>
            <if test="operation != null">operation,</if>
            <if test="username != null">username,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="gmtCreate != null"> #{gmtCreate},</if>
            <if test="method != null"> #{method},</if>
            <if test="userId != null"> #{userId},</if>
            <if test="ip != null"> #{ip},</if>
            <if test="time != null"> #{time},</if>
            <if test="params != null"> #{params},</if>
            <if test="operation != null"> #{operation},</if>
            <if test="username != null"> #{username},</if>
        </trim>
    </insert>

    <!-- 将SysLog批量插入到对应数据库的表中-->
    <insert id="insertSysLogByBatch" parameterType="java.util.ArrayList">
        insert into sys_log(id,gmt_create,method,user_id,ip,time,params,operation,username) values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id},#{item.gmtCreate},#{item.method},#{item.userId},#{item.ip},#{item.time},#{item.params},#{item.operation},#{item.username})
        </foreach>
    </insert>

    <!-- 通过SysLog的id将数据库表中对应的数据删除-->
    <delete id="deleteSysLogById" parameterType="java.lang.Long">
        delete from sys_log
        where id = #{id}
    </delete>

    <!-- 通过SysLog的id将SysLog的数据更新到数据库中对应的表,包括值null的数据-->
    <update id="updateSysLogById" parameterType="com.thinking.update.main.domain.entity.SysLog">
        update sys_log set
            gmt_create=#{gmtCreate}
            ,method=#{method}
            ,user_id=#{userId}
            ,ip=#{ip}
            ,time=#{time}
            ,params=#{params}
            ,operation=#{operation}
            ,username=#{username}
        where id=#{id}
    </update>

    <!-- 通过SysLog的id将SysLog中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptySysLogById" parameterType="com.thinking.update.main.domain.entity.SysLog">
        update sys_log
        <set>
            <if test="gmtCreate != null">
                gmt_create=#{gmtCreate},
            </if>
            <if test="method != null">
                method=#{method},
            </if>
            <if test="userId != null">
                user_id=#{userId},
            </if>
            <if test="ip != null">
                ip=#{ip},
            </if>
            <if test="time != null">
                time=#{time},
            </if>
            <if test="params != null">
                params=#{params},
            </if>
            <if test="operation != null">
                operation=#{operation},
            </if>
            <if test="username != null">
                username=#{username},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>